<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238491264735-uurr1snrfi67jh7at6mcel2tmod2jrhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238491264735-uurr1snrfi67jh7at6mcel2tmod2jrhd</string>
	<key>API_KEY</key>
	<string>AIzaSyCFPY_ZxxMLwZMLKVmxy2zxUDLCWB70RfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>238491264735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mariayelfimova.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-74bc9</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-74bc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>DATABASE_URL</key>
	<string>https://twittertutorial-74bc9-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:238491264735:ios:16ae137ee76f0349702b6a</string>
</dict>
</plist>
